package com.proyecto.dtos;

import lombok.Data;
import java.util.UUID;
import java.time.LocalDateTime;

@Data
public class {{ clase.nombre }}RequestDTO {

    private UUID id;

    {% for attr in clase.atributos %}
    {% if attr.nombre | lower not in ['id', 'createdat', 'updatedat', 'isactive'] %}
    private {{ attr.tipo }} {{ attr.nombre }};
    {% endif %}
    {% endfor %}
}
